
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #04364A;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{url_for('home')}}">BLOGIFY</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{url_for('home')}}">Home</a>
          </li>          
          {% endif %}

          {% if is_authenticated %}
          <li class="nav-item">
            
            <a class="nav-link" href="{{url_for('users')}}">Users</a>
          </li>
          {% endif %}
          {% if is_authenticated %}
          <li class="nav-item">
            
            <a class="nav-link" href="{{url_for('posts')}}">Posts</a>
          </li>
          {% endif %}
          
          {% if is_authenticated %}
          
          <li class="nav-item">
            <a class="nav-link"
            
            href="{{url_for('createpost')}}">Create Post</a>
          </li>
          
          {% endif %}
         </ul>

          <ul class="navbar-nav ml-auto">
            {% if not is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('register')}}">Register</a>
            </li>
            {% endif %}

            {% if is_authenticated %}
            <span class="navbar-text">
              <small>{{first_name}} {{last_name}}</small>
            </span>
            {% endif %}
            <li class="nav-item">
              {% if is_authenticated %}
                  <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
              {% else %}
              <a class="nav-link" href="{{url_for('login')}}">Login</a>
              {% endif %}
          </li>
            
          </ul>
          
        
      </div>
    </div>
  </nav>